body {
    margin: 0;
    /* font refer from yahoo japan */
    font-family: 'ヒラギノ角ゴ ProN W3',Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,Osaka,'ＭＳ Ｐゴシック',MS PGothic,sans-serif;
    font-size: 14px;
}

.site_logo img {vertical-align: middle;
                width: 50px;
                height: 50px;
                margin-right:   5px;    }

.site_logo a {  margin: 0;
                font-size:       20px;
                font-weight:     bold;
                color:           #000;
                text-decoration: none;
                white-space:     nowrap;        }

h1 {            font-size:   28px;
                font-weight: normal;
                margin: 0;              }

h2 {            font-size:   14px;
                font-weight: bold;
                margin: 0;
                margin-top: 10px;
                border-top: 2px solid  #333;}

#pc_menu {      display: block;
                margin-left: auto;      }
#pc_menu ul {   list-style-type: none;
                margin:  0;
                padding: 0;
                display: flex;          }

#pc_menu a {    display: block;
                line-height:  50px;
                padding: 0 6px;
                color: #000;
                font-weight: bold;
                text-decoration: none;
                white-space: nowrap;            }
#pc_menu a:hover{text-decoration: underline;    }

.container_title {              padding-top:    30px;
                                padding-bottom: 10px;           }
.container_title_sub {          display: grid;
                                grid-template-columns: 1fr 1fr; }
.container_title_sub_right {    text-align: right;              }
.container_title_sub_right a {  color: #333;
                                text-decoration: none;          }
.container_title_sub_right a:hover {text-decoration: underline; }
.container_title_sub_right a::after{
    content: url(/pri/img/icon_arrow_short.svg);
    display: inline-block; }

ul {            list-style-type: none;
                padding: 0;                     }
li {            padding: 4px;                   }
li a {          color: #333;
                text-decoration: none;          }
li a:hover {    text-decoration: underline;     }


header {        display: grid;
                grid-template-columns: 100px 1fr;}

footer {        padding:    16px;
                text-align: center;
                color:      #fff;
                background: #20285A;    }


.page_top {         background: #F2F3F4;    }
.page_top_container {position: relative;
                     width:  700px;
                     height: 400px;
                     margin: 0 auto;        }

.page_middle_container {    width:  700px;
                            margin: 0 auto; }
.page_bottom {              width:  700px;
                            margin: 0 auto; }

@media (min-width: 700px) {

    .two_cols_layout {  display: grid;
                        gap:     5px;
                        grid-template-columns: 1fr 1fr; }

    .
    .page_top {         background: #F2F3F4;    }
    .page_top_container {position: relative;
                         width:  1200px;
                         height: 400px;
                         margin: 0 auto;        }
    .container_title,
    .page_middle_container,
    .page_bottom {              width:  1200px;
                                margin: 0 auto; }
}
