/* https://dotinstall.com/lessons/modal_js_v3 */
/* http://takuri.realwork.jp/freematerials/2607 */

#close_jpn_map_modal { cursor: pointer;
                       width: 150px;
                       border: 1px solid #ccc;
                       border-radius: 4px;
                       text-align: center;
                       margin: 16px auto 0; }
#jpn_map_mask { background: rgba(0, 0, 0, 0.4);
                position: fixed;
                top:0; bottom:0; right:0; left:0;
                z-index: 1; }
#jpn_map_mask.hidden { display: none; }

#jpn_map_modal {background: #fff;
                width: 800px;
                padding: 10px;
                border-radius: 4px;
                position: absolute;
                top: 40px;
                left: 0;
                right: 0;
                margin: 0 auto;
                z-index: 2; }

@media screen and (max-width: 700px) {
    #jpn_map_modal {width: 100%;}
}


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/******* 地図成形 *******/
#japan-map div div.area div {
    border: 1px #fff solid;
    text-align: center;
    display:    flex;
    align-items: center; /* 縦方向中央揃え */
    justify-content: center; /* 横方向中央揃え */
    border-radius: 6px;
    position: absolute;
    box-sizing: border-box;
}
#japan-map div div.area div:hover {
    opacity: 0.5;
    cursor: pointer;
}

#japan-map {
    display: block;
    width: 777px;
    height: 482px;
    background-color: none;
    margin-left:  auto;
    margin-right: auto;
    position: relative;
}
#japan-map p.area-title {
    display: none;
}

/* 北海道・東北 */
#hokkaido-touhoku {
    width: 136px;
    display: block;
    height: 260px;
    position: absolute;
    left: 638px;
}
#hokkaido-touhoku div.area div {
    background-color: #aaa;     color: #ffffff;}

#hokkaido {width:133px; height:70px;}
#aomori   {width:93px;  height:43px;    left:21px;      top:94px;}
#akita    {width:67px;  height:42px;    left:3px;       top:137px;}
#iwate    {width:67px;  height:42px;    left:70px;      top:137px;}
#yamagata {width:67px;  height:38px;    left:3px;       top:179px;}
#miyagi   {width:67px;  height:42px;    left:70px;      top:179px;}
#fukushima{width:66px;  height:38px;    left:71px;      top:221px;}

/* 関東 */
#kantou {
    width: 158px;
    display: block;
    height: 174px;
    position: absolute;
    top: 265px;
    left: 623px;
    z-index: 2;
}
#kantou div.area div {
    background-color: #aaa;     color: #ffffff;}

#ibaraki {width: 52px;  height: 85px;   top:0px;        left: 100px;}
#tochigi {width: 50px;  height: 42px;   topp:0px;       left: 50px; }
#gunma {  width: 50px;  height: 42px;   top: 0px;       left: 0px;  }
#saitama {width:100px;  height: 43px;   top: 42px;      left: 0px;  }
#chiba {  width: 52px;  height: 84px;   top: 85px;      left: 100px;}
#tokyo {  width: 100px; height: 42px;   top: 85px;      left: 0px;  }
#kanagawa {width:67px;  height: 42px;   top: 127px;     left: 0px;  }

/* 中部 */
#tyubu {
    width: 270px;
    height: 211px;
    position: absolute;
    left: 438px;
    top: 223px;
}
#tyubu div.area div {
    background-color: #aaa;     color: #ffffff;}

#nigata {width: 80px;   height: 38px;   left:185px; }
#toyama {width: 67px;   height: 42px;   left: 118px;}
#ishikawa{width:50px;   height: 57px;   left: 68px; }
#fukui  {width: 68px;   height: 38px;   left: 0px;
         z-index: 2;}
#nagano {width: 63px;   height: 85px;   left: 118px;    top: 42px;}
#yamanashi{width:63px;  height: 42px;   left: 118px;    top: 127px;}
#gifu    {width: 50px;  height: 55px;   left: 68px;     top: 57px;  }
#shizuoka{width:63px;   height: 42px;   left: 118px;    top: 169px; }
#aichi   {width:50px;   height: 57px;   left: 68px;     top: 112px; }

/* 近畿 */
#kinki {
    width: 186px;
    height: 211px;
    position: absolute;
    left: 320px;
    top: 223px;}
#kinki div.area div {
    background-color: #aaa;     color: #ffffff;}

#kyoto {width: 60px;    height: 84px;   left:54px;}
#shiga {width: 68px;    height: 42px;   left:114px;     top: 42px;}
#osaka {width: 60px;    height: 85px;   left:54px;      top: 84px;}
#nara  {width: 34px;    height: 85px;   left:114px;     top: 84px;}
#mie   {width: 34px;    height: 85px;   left:148px;     top: 84px;}
#wakayama{width:113px;  height: 42px;   left:61px;      top:169px;}
#hyougo{width: 50px;    height: 98px;   left: 4px;}

/* 中国 */
#tyugoku {
    width: 151px;
    height: 98px;
    position: absolute;
    left: 168px;
    top: 223px;}
#tyugoku div.area div {
    background-color: #aaa;     color: #ffffff;}

#yamaguchi {width:50px; height: 98px;   left: 0px; }
#shimane   {width:51px; height: 49px;   left:50px; }
#tottori   {width:50px; height: 49px;   left:101px;}
#okayama   {width:50px; height: 49px;   left:101px;     top: 49px;}
#hiroshima {width:51px; height: 49px;   left: 50px;     top: 49px;}

/* 四国 */
#shikoku {
    width: 184px;
    height: 84px;
    position: absolute;
    left: 168px;
    top: 350px;
}
#shikoku div.area div {
    background-color: #aaa;     color: #ffffff;}
#ehime  {width: 92px;   height: 42px;   left: 0px; }
#kouchi   {width: 92px; height: 42px;   left: 0px;      top: 42px;}
#kagawa {width: 92px;   height: 42px;   right: 0px;}
#tokushima{width:92px;  height: 42px;   right: 0px;     top: 42px;}

/* 九州・沖縄 */
#kyusyu {
    width: 152px;
    height: 247px;
    position: absolute;
    left: 0px;
    top: 235px;
}
#kyusyu div.area div {
    background-color: #aaa;     color: #ffffff;}

#fukuoka {width: 50px;  height: 50px;   left: 101px;    top: 0px;}
#saga    {width: 50px;  height: 50px;   left: 51px;     top: 0px;}
#nagasaki{width: 50px;  height: 50px;   left: 1px;      top: 0px;}
#oita    {width: 50px;  height: 50px;   left: 101px;    top: 50px;}
#kumamoto{width: 50px;  height: 100px;  left: 51px;     top: 50px; }
#miyazaki{width: 50px;  height: 50px;   left: 101px;    top: 100px;}
#kagoshima{width: 68px; height: 49px;   left: 83px;     top: 150px;}

/****************************************
        レスポンシブ
****************************************/

@media screen and (max-width: 700px) {
    #japan-map p.area-title {
        display: inline-block;
        width: 100%;
        text-align: center;
        height: 10px;
    }
    #japan-map {
        display: block;
        width: 100%;
        height: auto;
    }
    
    #hokkaido-touhoku, #kantou, #tyubu, #kinki, #tyugoku, #shikoku, #kyusyu {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        position: static;
        margin-left:  0px;
        margin-right: 0px;
    }
    #japan-map div div.area {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    #japan-map div div.area div {
        height: 50px;
        width: 25%;
        border-radius: 0px;
        position: static;
        height: 50px;
    }
    
    
} /* レスポンシブ max-500px */
