<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/site_logo.svg" type="image/svg+xml">
  <title>15DB</title>
  <link rel="stylesheet" href="/pri/css/common.css">
  <link rel="stylesheet" href="/pri/css/newbuild.css">
</head>
<body>

  <div class="header_container">
  </div><!--.header_container-->
  
  <div class="page_top">
  </div><!--.page_top-->

  <div id="vueapp">
    
    <div class="container_title">
      <h1 id="pref_name">{{pref_name}}</h1>
      <div class="container_title_sub">
        <div>
          <input type="date" name="disp_date_from">
        </div>
        <div class="container_title_sub_right">
          <a  v-on:click="show_jpn_map_modal">都道府県選択</a>
        </div>
      </div>
    </div><!--.container_title-->
    

  <div class="page_middle">
    <div class="page_middle_container">

      <h2>会社別</h2>

      <div class="scroll_tbl2">
        <table>
          <tr>
            <th></th>
            <th colspan="3">販売済</th>
            <th colspan="3">販売中</th>
            <th></th>
          </tr>
          <tr>
            <th>会社</th>
            <th>数</th><th>百万円</th><th>販売日数</th>
            <th>数</th><th>百万円</th><th>販売日数</th>
          </tr>

          <tr v-for="shop_data in shop_sales">
            <th><div>{{ shop_data.shop }}</div></th>
            <td class="graph_bar"
                v-bind:style="{backgroundSize:shop_data.sold_count_px+'px 4px'}">
              {{ shop_data.sold_count }}</td>
            <td class="graph_bar"
                v-bind:style="{backgroundSize:shop_data.sold_price_px+'px 4px'}">
              {{ shop_data.sold_price }}</td>
            <td class="graph_bar"
                v-bind:style="{backgroundSize:shop_data.sold_days+'px 4px'}">
              {{ shop_data.sold_days }}</td>
            <td class="graph_bar"
                v-bind:style="{backgroundSize:shop_data.on_sale_count_px+'px 4px'}">
              {{ shop_data.on_sale_count }}</td>
            <td class="graph_bar"
                v-bind:style="{backgroundSize:shop_data.on_sale_price_px+'px 4px'}">
            {{ shop_data.on_sale_price }}</td>
            <td class="graph_bar"
                v-bind:style="{backgroundSize:shop_data.on_sale_days+'px 4px'}">
            {{ shop_data.on_sale_days }}</td>
          </tr>
        </table>
        
      </div><!--.scroll_tbl2-->
      
      <h2>市区町村別</h2>
  
      <div class="scroll_tbl2">
        <table>
          <tr>
            <th></th>
            <th colspan="3">販売済</th>
            <th colspan="3">販売中</th>
            <th></th>
          </tr>
          <tr>
            <th>市区町村</th>
            <th>数</th><th>百万円</th><th>販売日数</th>
            <th>数</th><th>百万円</th><th>販売日数</th>
          </tr>

          <tr v-for="city_data in city_sales">
            <th><div><a href="">{{ city_data.city }}</a></div></th>
            <td class="graph_bar"
                v-bind:style="{backgroundSize:city_data.sold_count_px+'px 4px'}">
              {{ city_data.sold_count }}</td>
            <td class="graph_bar"
                v-bind:style="{backgroundSize:city_data.sold_price_px+'px 4px'}">
              {{ city_data.sold_price }}</td>
            <td class="graph_bar"
                v-bind:style="{backgroundSize:city_data.sold_days+'px 4px'}">
              {{ city_data.sold_days }}</td>
            <td class="graph_bar"
                v-bind:style="{backgroundSize:city_data.on_sale_count_px+'px 4px'}">
              {{ city_data.on_sale_count }}</td>
            <td class="graph_bar"
                v-bind:style="{backgroundSize:city_data.on_sale_price_px+'px 4px'}">
            {{ city_data.on_sale_price }}</td>
            <td class="graph_bar"
                v-bind:style="{backgroundSize:city_data.on_sale_days+'px 4px'}">
            {{ city_data.on_sale_days }}</td>
          </tr>
        </table>
        
      </div><!--.scroll_tbl2-->
	
    </div><!--.page_middle_container-->
  </div><!--.page_middle-->
  
  <div class="container_title">
    <h1 id="pref_name">{{city_name}}</h1>
    <div class="container_title_sub">
      <div class="container_title_sub_right"></div>
    </div>
  </div><!--.container_title-->
    
  <div class="page_middle">
    <div class="page_middle_container">
        
      <h2>地区別</h2>

      <div class="scroll_tbl2">
        <table>
          <tr>
            <th></th>
            <th colspan="3">販売済</th>
            <th colspan="3">販売中</th>
            <th></th>
          </tr>
          <tr>
            <th>市区町村</th>
            <th>数</th><th>百万円</th><th>販売日数</th>
            <th>数</th><th>百万円</th><th>販売日数</th>
          </tr>

          <tr v-for="town_data in town_sales">
            <th><div><a href="">{{ town_data.town }}</a></div></th>
            <td class="graph_bar"
                v-bind:style="{backgroundSize:town_data.sold_count_px+'px 4px'}">
              {{ town_data.sold_count }}</td>
            <td class="graph_bar"
                v-bind:style="{backgroundSize:town_data.sold_price_px+'px 4px'}">
              {{ town_data.sold_price }}</td>
            <td class="graph_bar"
                v-bind:style="{backgroundSize:town_data.sold_days+'px 4px'}">
              {{ town_data.sold_days }}</td>
            <td class="graph_bar"
                v-bind:style="{backgroundSize:town_data.on_sale_count_px+'px 4px'}">
              {{ town_data.on_sale_count }}</td>
            <td class="graph_bar"
                v-bind:style="{backgroundSize:town_data.on_sale_price_px+'px 4px'}">
            {{ town_data.on_sale_price }}</td>
            <td class="graph_bar"
                v-bind:style="{backgroundSize:town_data.on_sale_days+'px 4px'}">
            {{ town_data.on_sale_days }}</td>
          </tr>
        </table>
      </div><!--.scroll_tbl2-->

        
      <h2>隣接 市区町村</h2>

      <div class="scroll_tbl2">
        
        <table>
          <tr>
            <th></th>
            <th colspan="3">販売済</th>
            <th colspan="3">販売中</th>
            <th></th>
          </tr>
          <tr>
            <th>市区町村</th>
            <th>数</th><th>前回比</th><th>価格</th>
            <th>数</th><th>前回比</th><th>価格</th>
            <th>地価</th>
          </tr>
          <tr>
            <th><div>国分寺市</div></th>
            <td class="graph_bar" style="background-size: 20px 4px;">999,999</td>
            <td>+999</td><td>999,999</td>
            <td>999,999</td><td>-999</td><td>999,999</td>
          </tr>
          <tr>
            <th><div>立川市</div></th>
            <td class="graph_bar" style="background-size: 20px 4px;">999,999</td>
            <td>+999</td><td>999,999</td>
            <td>999,999</td><td>-999</td><td>999,999</td>
          </tr>
          <tr>
            <th><div>小平市</div></th>
            <td class="graph_bar" style="background-size: 20px 4px;">999,999</td>
            <td>+999</td><td>999,999</td>
            <td>999,999</td><td>-999</td><td>999,999</td>
          </tr>
          <tr>
            <th><div>小金井市</div></th>
            <td class="graph_bar" style="background-size: 20px 4px;">999,999</td>
            <td>+999</td><td>999,999</td>
            <td>999,999</td><td>-999</td><td>999,999</td>
          </tr>
          <tr>
            <th><div>府中市</div></th>
            <td class="graph_bar" style="background-size: 20px 4px;">999,999</td>
            <td>+999</td><td>999,999</td>
            <td>999,999</td><td>-999</td><td>999,999</td>
          </tr>
        </table>
        
      </div><!--.scroll_tbl2-->

        
      <h2>その他</h2>

      <table>
        <tr>
          <th>人口</th>
          <th>総人口</th>
          <th>変動</th><td></td>
          <th>20～29歳</th><td></td>
          <th>変動</th><td></td>
          <th>30～49歳</th><td></td>
          <th>変動</th><td></td>
          <th>50歳～</th><td></td>
          <th>変動</th><td></td>
        </tr>
        <tr>
          <th>世帯</th>
          <th>総世帯</th><td></td>
          <th>変動</th><td></td>
          <th>家族世帯</th><td></td>
          <th>単身世帯</th><td></td>
        </tr>
        <tr>
          <th>面積</th><td></td>
          <th>住居面積</th><td></td>
          <th>生産緑地</th><td></td>
        </tr>
        <tr>
          <th>年収</th><td></td>
          <th></th><td></td>
          <th></th><td></td>
        </tr>
        <tr>
          <th>持家:賃貸</th><td></td>
          <th>戸建:集合</th><td></td>
          <th></th><td></td>
      </table>

    </div><!--.page_middle_container-->
  </div><!--.page_middle-->

  <div class="page_bottom">
  </div><!--.page_bottom-->

  <footer>
    &copy; <span class="copyright_year"></span>
    end0tknr
  </footer>

  <div id="mask" class="hidden"></div>
  
  <section id="jpn_map_modal" class="hidden">
    <div id="japan-map" class="clearfix">

      <div id="hokkaido-touhoku" class="clearfix">
    
        <p class="area-title">北海道・東北</p>
        <div class="area">
          <div id="hokkaido">北海道</div>
          <div id="aomori">青森</div>
          <div id="akita">秋田</div>
          <div id="iwate">岩手</div>
          <div id="yamagata">山形</div>
          <div id="miyagi">宮城</div>
          <div id="fukushima">福島</div>
        </div>
      </div><!--#hokkaido-touhoku-->

      <div id="kantou">
        <p class="area-title">関東</p>
  
        <div class="area">
          <div id="gunma"><p>群馬</p></div>
          <div id="tochigi"><p>栃木</p></div>
          <div id="ibaraki"><p>茨城</p></div>
          <div id="saitama"><p>埼玉</p></div>
          <div id="chiba"><p>千葉</p></div>
          <div id="tokyo"><p>東京</p></div>
          <div id="kanagawa"><p>神奈川</p></div>
        </div>
      </div><!--#kantou-->

      <div id="tyubu" class="clearfix">
        <p class="area-title">中部</p>
  
        <div class="area">
          <div id="nigata"><p>新潟</p></div>
          <div id="toyama"><p>富山</p></div>
          <div id="ishikawa"><p>石川</p></div>
          <div id="fukui"><p>福井</p></div>
          <div id="nagano"><p>長野</p></div>
          <div id="gifu"><p>岐阜</p></div>
          <div id="yamanashi"><p>山梨</p></div>
          <div id="aichi"><p>愛知</p></div>
          <div id="shizuoka"><p>静岡</p></div>
        </div>
      </div><!--#tyubu-->

      <div id="kinki" class="clearfix">
        <p class="area-title">近畿</p>
  
        <div class="area">
          <div id="kyoto"><p>京都</p></div>
          <div id="shiga"><p>滋賀</p></div>
          <div id="osaka"><p>大阪</p></div>
          <div id="nara"><p>奈良</p></div>
          <div id="mie"><p>三重</p></div>
          <div id="wakayama"><p>和歌山</p></div>
          <div id="hyougo"><p>兵庫</p></div>
        </div>
      </div><!--#kinki-->

      <div id="tyugoku" class="clearfix">
        <p class="area-title">中国</p>
  
        <div class="area">
          <div id="tottori"><p>鳥取</p></div>
          <div id="okayama"><p>岡山</p></div>
          <div id="shimane"><p>島根</p></div>
          <div id="hiroshima"><p>広島</p></div>
          <div id="yamaguchi"><p>山口</p></div>
        </div>
      </div><!--#tyugoku-->

      <div id="shikoku" class="clearfix">
        <p class="area-title">四国</p>
  
        <div class="area">
          <div id="kagawa"><p>香川</p></div>
          <div id="ehime"><p>愛媛</p></div>
          <div id="tokushima"><p>徳島</p></div>
          <div id="kouchi"><p>高知</p></div>
        </div>
      </div><!--#shikoku-->

      <div id="kyusyu" class="clearfix">
        <p class="area-title">九州</p>
  
        <div class="area">
          <div id="fukuoka"><p>福岡</p></div>
          <div id="saga"><p>佐賀</p></div>
          <div id="nagasaki"><p>長崎</p></div>
          <div id="oita"><p>大分</p></div>
          <div id="kumamoto"><p>熊本</p></div>
          <div id="miyazaki"><p>宮崎</p></div>
          <div id="kagoshima"><p>鹿児島</p></div>
        </div>
      </div><!--#kyusyu-->
      
    </div> <!-- japan-map -->

    <div id="close_jpn_map_modal">close</div>

  </div><!--#vueapp-->
  
    
  </section>

  <script src="/pri/js/Common.js"></script>
  <script src="/pri/js/AppBase.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="/pri/js/app_conf.js"></script>
  <script src="/pri/js/VueNewBuild.js"></script>
</body>
</html>
