<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/site_logo.svg" type="image/svg+xml">
  <title>15DB</title>
  <link rel="stylesheet" href="/pri/css/common.css">
  <link rel="stylesheet" href="/pri/css/newbuild.css">
  <style>
    .scroll_tbl2 .sort_keys th       {cursor: pointer;           }
    .scroll_tbl2 .sort_keys th:hover {text-decoration: underline;}
    .scroll_tbl2 .col_key            {cursor: pointer;           }
    .scroll_tbl2 .col_key:hover      {text-decoration: underline;}

    .open_jpn_map_modal              {cursor: pointer;           }
    .scroll_tbl2 .sort_keys th       {cursor: pointer;
                                      width: 65px;}
    .scroll_tbl2 tr td    {text-align: right; }
    .city_profile th      {font-weight:bold;}
    .city_profile th .sub {font-weight:normal;}
    .city_profile tr:nth-child(1) th { width: 100px; }
    .city_profile td.caption {text-align:right;}
  </style>
</head>
<body>

  <div class="header_container">
  </div><!--.header_container-->
  
  <div class="page_top">
  </div><!--.page_top-->

  <div id="vueapp">
    
    <div class="container_title">
      <h1 id="pref_name">{{pref_name}}</h1>
      <div class="container_title_sub">
        <div>
          戸建分譲 週次速報<!-- <input type="date" name="disp_date_from"> -->
        </div>
        <div class="container_title_sub_right">
          <a class="open_jpn_map_modal" v-on:click="show_jpn_map_modal">
            都道府県選択</a>
        </div>
      </div>
    </div><!--.container_title-->
    

  <div class="page_middle">
    <div class="page_middle_container">

      <div class="two_cols_layout">
        <div class="column_left">

          <h2>会社別</h2>
          
          <div class="scroll_tbl2">
            <table>
              <tr>
                <th></th>
                <th colspan="3">販売済</th>
                <th colspan="3">販売中</th>
                <th></th>
              </tr>
              <tr class="sort_keys">
                <th v-on:click="sort_tbl('shop_sales','shop')">会社</th>
                <th v-on:click="sort_tbl('shop_sales','sold_count')">数</th>
                <th v-on:click="sort_tbl('shop_sales','sold_price')">百万円</th>
                <th v-on:click="sort_tbl('shop_sales','sold_days')">販売日数</th>
                <th v-on:click="sort_tbl('shop_sales','on_sale_count')">数</th>
                <th v-on:click="sort_tbl('shop_sales','on_sale_price')">百万円</th>
                <th v-on:click="sort_tbl('shop_sales','on_sale_days')">販売日数</th>
              </tr>
              
              <tr v-for="shop_data in shop_sales">
                <th><div>{{ shop_data.shop }}</div></th>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:shop_data.sold_count_px+'px 3px'}">
                  {{ shop_data.sold_count }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:shop_data.sold_price_px+'px 3px'}">
                  {{ shop_data.sold_price }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:shop_data.sold_days+'px 3px'}">
                  {{ shop_data.sold_days }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:shop_data.on_sale_count_px+'px 3px'}">
                  {{ shop_data.on_sale_count }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:shop_data.on_sale_price_px+'px 3px'}">
                  {{ shop_data.on_sale_price }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:shop_data.on_sale_days+'px 3px'}">
                  {{ shop_data.on_sale_days }}</td>
              </tr>
            </table>
          </div><!--.scroll_tbl2-->
          
        </div><!-- .column_left -->
        
        <div class="column_right">

          <h2>市区町村別</h2>
          
          <div class="scroll_tbl2">
            <table>
              <tr>
                <th></th>
                <th colspan="3">販売済</th>
                <th colspan="3">販売中</th>
                <th></th>
              </tr>
              <tr class="sort_keys">
                <th v-on:click="sort_tbl('city_sales','city')">市区町村</th>
                <th v-on:click="sort_tbl('city_sales','sold_count')">数</th>
                <th v-on:click="sort_tbl('city_sales','sold_price')">百万円</th>
                <th v-on:click="sort_tbl('city_sales','sold_days')">販売日数</th>
                <th v-on:click="sort_tbl('city_sales','on_sale_count')">数</th>
                <th v-on:click="sort_tbl('city_sales','on_sale_price')">百万円</th>
                <th v-on:click="sort_tbl('city_sales','on_sale_days')">販売日数</th>
              </tr>
              
              <tr v-for="city_data in city_sales">
                <th>
                  <div class="col_key"
                       v-on:click="load_city_datas(city_data.pref,city_data.city )">
                    {{ city_data.city }}
                  </div>
                </th>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:city_data.sold_count_px+'px 3px'}">
                  {{ city_data.sold_count }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:city_data.sold_price_px+'px 3px'}">
                  {{ city_data.sold_price }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:city_data.sold_days+'px 3px'}">
                  {{ city_data.sold_days }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:city_data.on_sale_count_px+'px 3px'}">
                  {{ city_data.on_sale_count }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:city_data.on_sale_price_px+'px 3px'}">
                  {{ city_data.on_sale_price }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:city_data.on_sale_days+'px 3px'}">
                  {{ city_data.on_sale_days }}</td>
              </tr>
            </table>
            
          </div><!--.scroll_tbl2-->
          
        </div><!-- .column_right -->
      </div><!--.two_cols_layout-->
      
    </div><!--.page_middle_container-->
  </div><!--.page_middle-->
  
  <div class="container_title">
    <h1 id="pref_name">{{city_name}}</h1>
    <div class="container_title_sub">
      <div>
        戸建分譲 週次速報
      </div>
      <div class="container_title_sub_right">
      </div>
    </div>
  </div><!--.container_title-->
    
  <div class="page_middle">
    <div class="page_middle_container">

      <div class="two_cols_layout">
        <div class="column_left">

          <h2>会社別</h2>
          
          <div class="scroll_tbl2">
            <table>
              <tr>
                <th></th>
                <th colspan="3">販売済</th>
                <th colspan="3">販売中</th>
                <th></th>
              </tr>
              <tr class="sort_keys">
                <th v-on:click="sort_tbl('shop_city_sales','shop')">会社</th>
                <th v-on:click="sort_tbl('shop_city_sales','sold_count')">数</th>
                <th v-on:click="sort_tbl('shop_city_sales','sold_price')">百万円</th>
                <th v-on:click="sort_tbl('shop_city_sales','sold_days')">販売日数</th>
                <th v-on:click="sort_tbl('shop_city_sales','on_sale_count')">数</th>
                <th v-on:click="sort_tbl('shop_city_sales','on_sale_price')">百万円</th>
                <th v-on:click="sort_tbl('shop_city_sales','on_sale_days')">販売日数</th>
              </tr>
              
              <tr v-for="shop_data in shop_city_sales">
                <th><div>{{ shop_data.shop }}</div></th>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:shop_data.sold_count_px+'px 3px'}">
                  {{ shop_data.sold_count }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:shop_data.sold_price_px+'px 3px'}">
                  {{ shop_data.sold_price }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:shop_data.sold_days+'px 3px'}">
                  {{ shop_data.sold_days }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:shop_data.on_sale_count_px+'px 3px'}">
                  {{ shop_data.on_sale_count }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:shop_data.on_sale_price_px+'px 3px'}">
                  {{ shop_data.on_sale_price }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:shop_data.on_sale_days+'px 3px'}">
                  {{ shop_data.on_sale_days }}</td>
              </tr>
            </table>
          </div><!--.scroll_tbl2-->
          
        </div><!--.column_left-->
        
        <div class="wcolumn_right">
          
          <h2>地区別</h2>
          
          <div class="scroll_tbl2">
            <table>
              <tr>
                <th></th>
                <th colspan="3">販売済</th>
                <th colspan="3">販売中</th>
                <th></th>
              </tr>
              <tr class="sort_keys">
                <th v-on:click="sort_tbl('town_sales','town')">地区</th>
                <th v-on:click="sort_tbl('town_sales','sold_count')">数</th>
                <th v-on:click="sort_tbl('town_sales','sold_price')">百万円</th>
                <th v-on:click="sort_tbl('town_sales','sold_days')">販売日数</th>
                <th v-on:click="sort_tbl('town_sales','on_sale_count')">数</th>
                <th v-on:click="sort_tbl('town_sales','on_sale_price')">百万円</th>
                <th v-on:click="sort_tbl('town_sales','on_sale_days')">販売日数</th>
              </tr>
              
              <tr v-for="town_data in town_sales">
                <th><div>{{ town_data.town }}</div></th>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:town_data.sold_count_px+'px 3px'}">
                  {{ town_data.sold_count }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:town_data.sold_price_px+'px 3px'}">
                  {{ town_data.sold_price }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:town_data.sold_days+'px 3px'}">
                  {{ town_data.sold_days }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:town_data.on_sale_count_px+'px 3px'}">
                  {{ town_data.on_sale_count }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:town_data.on_sale_price_px+'px 3px'}">
                  {{ town_data.on_sale_price }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:town_data.on_sale_days+'px 3px'}">
                  {{ town_data.on_sale_days }}</td>
              </tr>
            </table>
          </div><!--.scroll_tbl2-->

        </div><!--.column_right-->

        <div class="column_left">
          <h2>近隣 市区町村</h2>
          <div class="scroll_tbl2">
            
            <table>
              <tr>
                <th></th>
                <th colspan="3">販売済</th>
                <th colspan="3">販売中</th>
                <th></th>
              </tr>
              <tr class="sort_keys">
                <th v-on:click="sort_tbl('near_city_sales','city')">市区町村</th>
                <th v-on:click="sort_tbl('near_city_sales','sold_count')">数</th>
                <th v-on:click="sort_tbl('near_city_sales','sold_price')">百万円</th>
                <th v-on:click="sort_tbl('near_city_sales','sold_days')">販売日数</th>
                <th v-on:click="sort_tbl('near_city_sales','on_sale_count')">数</th>
                <th v-on:click="sort_tbl('near_city_sales','on_sale_price')">百万円</th>
                <th v-on:click="sort_tbl('near_city_sales','on_sale_days')">販売日数</th>
              </tr>
              
              <tr v-for="city_data in near_city_sales">
                <th>
                  <div class="col_key"
                       v-on:click="load_city_datas(city_data.pref,city_data.city )">
                    {{ city_data.city }}
                  </div>
                </th>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:city_data.sold_count_px+'px 3px'}">
                  {{ city_data.sold_count }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:city_data.sold_price_px+'px 3px'}">
                  {{ city_data.sold_price }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:city_data.sold_days+'px 3px'}">
                  {{ city_data.sold_days }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:city_data.on_sale_count_px+'px 3px'}">
                  {{ city_data.on_sale_count }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:city_data.on_sale_price_px+'px 3px'}">
                  {{ city_data.on_sale_price }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:city_data.on_sale_days+'px 3px'}">
                  {{ city_data.on_sale_days }}</td>
              </tr>
            </table>
            
          </div><!--.scroll_tbl2-->
        </div><!--.column_left-->
        
        <div class="column_right">
          <h2>価格別</h2>
          <div class="scroll_tbl2">
            <table>
              <tr>
                <th></th>
                <th colspan="3">販売済</th>
                <th colspan="3">販売中</th>
                <th></th>
              </tr>
              <tr class="sort_keys">
                <th v-on:click="sort_tbl('price_sales','price')">百万円</th>
                <th v-on:click="sort_tbl('price_sales','sold_count')">数</th>
                <th v-on:click="sort_tbl('price_sales','sold_days')">販売日数</th>
                <th v-on:click="sort_tbl('price_sales','on_sale_count')">数</th>
                <th v-on:click="sort_tbl('price_sales','on_sale_days')">販売日数</th>
              </tr>
              
              <tr v-for="sales_data in price_sales">
                <th>
                  <div>{{ sales_data.price }}</div>
                </th>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:sales_data.sold_count_px+'px 3px'}">
                  {{ sales_data.sold_count }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:sales_data.sold_days+'px 3px'}">
                  {{ sales_data.sold_days }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:sales_data.on_sale_count_px+'px 3px'}">
                  {{ sales_data.on_sale_count }}</td>
                <td class="graph_bar"
                    v-bind:style="{backgroundSize:sales_data.on_sale_days+'px 3px'}">
                  {{ sales_data.on_sale_days }}</td>
              </tr>
            </table>
          </div><!--.scroll_tbl2-->
	  
        </div><!--.column_right-->
	
        <div class="column_left">
          <h2>プロファイル</h2>
          
          <table class="city_profile">
            <tr>
              <th rowspan="2">人口<div class="sub">2020</div></th>
              <td class="caption" rowspan="2">20～24</td>
              <td>{{city_profile["人口_20_24歳_万人"]}}</td>
              <td class="caption" rowspan="2">25～59</td>
              <td>{{city_profile["人口_25_59歳_万人"]}}</td>
              <td class="caption" rowspan="2">60～</td>
              <td>{{city_profile["人口_60歳_万人"]}}</td><td>(万人/歳)</td>
            </tr>
            <tr>
              <td>{{city_profile["人口_20_24歳_万人_差"]}}</td>
              <td>{{city_profile["人口_25_59歳_万人_差"]}}</td>
              <td>{{city_profile["人口_60歳_万人_差"]}}</td>
              <td>(対2015)</td>
            </tr>
            <tr>
              <th rowspan="2">世帯<div class="sub">2020</div></th>
              <td class="caption" rowspan="2">総世帯</td><td>{{city_profile["総世帯"]}}</td>
              <td class="caption" rowspan="2">家族</td><td>{{city_profile["家族世帯"]}}</td>
              <td class="caption" rowspan="2">単身</td><td>{{city_profile["単身世帯"]}}</td>
            </tr>
            <tr>
              <td>{{city_profile["総世帯_差"]}}</td>
              <td>{{city_profile["家族世帯_差"]}}</td>
              <td>{{city_profile["単身世帯_差"]}}</td>
              <td>(対2015)</td>
            </tr>
          </table>
        </div><!--.column_left-->

        <div class="column_right">
          <h2></h2>
          
          <table class="city_profile">
            <tr>
              <th>面積</th>
              <td class="caption">住居系</td><td>{{city_profile["用途地域_住居系_ha"]}}</td>
              <td class="caption">商業系</td><td>{{city_profile["用途地域_商業系_ha"]}}</td>
              <td class="caption">生産緑地</td><td>{{city_profile["生産緑地_ha"]}}</td><td>(ha)</td>
            </tr>
            <tr>
              <th>地価</th>
              <td>(万円/㎡)</td><td>{{city_profile["地価_万円_m2_住居系"]}}</td>
              <td></td><td>{{city_profile["地価_万円_m2_商業系"]}}</td>
              <th>個人年収</th>
              <td>{{city_profile["年収_万円"]}}</td>
              <td>(百万円)</td>
            </tr>
            <tr>
              <th>所有形態</th>
              <td class="caption">持家(※)</td><td>{{city_profile["持家率"]}}%</td>
              <td class="caption">戸建</td><td>{{city_profile["戸建率"]}}%</td>
              <td></td><td></td><td>※ﾏﾝｼｮﾝ含</td>
            </tr>
            <tr>
              <th>新築入手</th>
              <td class="caption">分譲(※)</td><td>{{city_profile["入手_分譲"]}}%</td>
              <td class="caption">新築</td><td>{{city_profile["入手_新築"]}}%</td>
              <td class="caption">建替</td><td>{{city_profile["入手_建替"]}}%</td>
            </tr>
            <tr>
              <th rowspan="2">外部ﾘﾝｸ</th>
              <td colspan="2">
                <a v-bind:href="'https://www.google.com/maps/place/' + city_profile.pref+city_profile.city"
                   target="_blank">GoogleMap</a>
              </td>
              <td colspan="2">
                <a v-bind:href="'http://maps.gsi.go.jp/#12/'+city_profile.lng+'/'+city_profile.lat"
                   target="_blank">地理院地図</a>
              </td>
              <td colspan="3">
                <a v-bind:href="'https://people.mapexpert.net/StatMap?L='+city_profile.mapexpert_id +'&N='+city_profile.city"
                   target="_blank">人口世帯 地価 用途</a>
              </td>
            <tr>
              <td colspan="2">
                <a href="https://www1.touki.or.jp/" target="_blank">登記情報提供</a>
              </td>
              <td colspan="2">
              </td>
              <td colspan="3">
                <a href="https://www2.wagmap.jp/tokyo_tokeizu/MAP?linkid=85c2a889-96bc-4467-9b76-6a77bcd35030&mid=1"
                   target="_blank">生産緑地(東京のみ)</a>
              </td>
            </tr>
          </table>
        </div><!--.column_right-->

      </div><!--.two_cols_layout-->

    </div><!--.page_middle_container-->
  </div><!--.page_middle-->

  <div class="container_title">
    <div class="container_title_sub">
      <div>プロファイル比較</div>
      <div class="container_title_sub_right"></div>
    </div>
  </div><!--.container_title-->

  <div class="page_bottom">
    
    <div class="scroll_tbl2">
      
      <table>
        <tr class="city_profile">
          <th></th>
          <th colspan="2">人口<span class="sub">万人/歳</span></th>
          <th colspan="4">世帯</th>
          <th colspan="2">住居系</th>
          <th colspan="2">所有形態</th>
          <th>個人年収</th>
          <th colspan="9">世帯年収<span class="sub">世帯数/百万円</span></th>
          <th colspan="6">新築世帯主年齢<span class="sub">人/歳</span></th>
        </tr>
        <tr class="sort_keys">
          <th v-on:click="sort_tbl('near_city_profiles','city')">市区町村</th>
          <th v-on:click="sort_tbl('near_city_profiles','人口_25_59歳_万人')">25～59</th>
          <th v-on:click="sort_tbl('near_city_profiles','人口_25_59歳_万人_変動')">
            <span class="sub">対2015<span></th>
          <th v-on:click="sort_tbl('near_city_profiles','家族世帯')">家族</th>
          <th v-on:click="sort_tbl('near_city_profiles','家族世帯_変動')">
            <span class="sub">対2015<span></th>
          <th v-on:click="sort_tbl('near_city_profiles','単身世帯')">単身</th>
          <th v-on:click="sort_tbl('near_city_profiles','単身世帯_変動')">
            <span class="sub">対2015<span></th>
          <th v-on:click="sort_tbl('near_city_profiles','用途地域_住居系_ha')">
            面積<span class="sub">ha</span></th>
          <th v-on:click="sort_tbl('near_city_profiles','地価_万円_m2_住居系')">
            地価<span class="sub">万円/㎡</span></th>
          <th v-on:click="sort_tbl('near_city_profiles','持家率')">持家</th>
          <th v-on:click="sort_tbl('near_city_profiles','戸建率')">戸建</th>
          <th v-on:click="sort_tbl('near_city_profiles','年収_百万円')">
            <span class="sub">百万円</aub></th>
          <th v-on:click="sort_tbl('near_city_profiles','世帯年収_100')">～1</th>
          <th v-on:click="sort_tbl('near_city_profiles','世帯年収_100～200')">1～2</th>
          <th v-on:click="sort_tbl('near_city_profiles','世帯年収_200～300')">2～3</th>
          <th v-on:click="sort_tbl('near_city_profiles','世帯年収_300～400')">3～4</th>
          <th v-on:click="sort_tbl('near_city_profiles','世帯年収_400～500')">4～5</th>
          <th v-on:click="sort_tbl('near_city_profiles','世帯年収_500～700')">5～7</th>
          <th v-on:click="sort_tbl('near_city_profiles','世帯年収_700～1000')">7～10</th>
          <th v-on:click="sort_tbl('near_city_profiles','世帯年収_1000～1500')">10～15</th>
          <th v-on:click="sort_tbl('near_city_profiles','世帯年収_1500～')">15～</th>
          <th v-on:click="sort_tbl('near_city_profiles','新築_世帯主_年齢_24')">-24</th>
          <th v-on:click="sort_tbl('near_city_profiles','新築_世帯主_年齢_25_34')">25～34</th>
          <th v-on:click="sort_tbl('near_city_profiles','新築_世帯主_年齢_35_44')">35～44</th>
          <th v-on:click="sort_tbl('near_city_profiles','新築_世帯主_年齢_45_54')">45～54</th>
          <th v-on:click="sort_tbl('near_city_profiles','新築_世帯主_年齢_55_64')">55～64</th>
          <th v-on:click="sort_tbl('near_city_profiles','新築_世帯主_年齢_65')">65～</th>
        </tr>
        <tr v-for="city_profile in near_city_profiles">
          <th>
            <div class="col_key"
                 v-on:click="load_city_datas(city_profile.pref,city_profile.city )">
              {{ city_profile.city }}
            </div>
          </th>
          <td>{{city_profile["人口_25_59歳_万人"]}}</td>
          <td>{{city_profile["人口_25_59歳_万人_変動"]}}</td>
          <td>{{city_profile["家族世帯"]}}</td>
          <td>{{city_profile["家族世帯_変動"]}}</td>
          <td>{{city_profile["単身世帯"]}}</td>
          <td>{{city_profile["単身世帯_変動"]}}</td>
          <td>{{city_profile["用途地域_住居系_ha"]}}</td>
          <td>{{city_profile["地価_万円_m2_住居系"]}}</td>
          <td>{{city_profile["持家率"]}}%</td>
          <td>{{city_profile["戸建率"]}}%</td>
          <td>{{city_profile["年収_百万円"]}}</td>
          <td>{{city_profile["新築_世帯主_年齢_24"]}}</td>
          <td>{{city_profile["新築_世帯主_年齢_25_34"]}}</td>
          <td>{{city_profile["新築_世帯主_年齢_35_44"]}}</td>
          <td>{{city_profile["新築_世帯主_年齢_45_54"]}}</td>
          <td>{{city_profile["新築_世帯主_年齢_55_64"]}}</td>
          <td>{{city_profile["新築_世帯主_年齢_65"]}}</td>
          <td>{{city_profile["世帯年収_100"]}}</td>
          <td>{{city_profile["世帯年収_100～200"]}}</td>
          <td>{{city_profile["世帯年収_200～300"]}}</td>
          <td>{{city_profile["世帯年収_300～400"]}}</td>
          <td>{{city_profile["世帯年収_400～500"]}}</td>
          <td>{{city_profile["世帯年収_500～700"]}}</td>
          <td>{{city_profile["世帯年収_700～1000"]}}</td>
          <td>{{city_profile["世帯年収_1000～1500"]}}</td>
          <td>{{city_profile["世帯年収_1500"]}}</td>
        </tr>
      </table>
    </div><!--.scroll_tbl2-->
    
    <div>&nbsp;</div>
  </div>

  <footer>
    &copy; <span class="copyright_year"></span>
    end0tknr
  </footer>

  <div v-show="show_jpn_map" id="mask"></div>
  
  <section v-show="show_jpn_map" id="jpn_map_modal"
           v-on:click="set_pref_name($event)">
    <div id="japan-map" class="clearfix">

      <div id="hokkaido-touhoku" class="clearfix">
    
        <p class="area-title">北海道・東北</p>
        <div class="area">
          <div class="pref" id="hokkaido">北海道</div>
          <div class="pref" id="aomori">青森</div>
          <div class="pref" id="akita">秋田</div>
          <div class="pref" id="iwate">岩手</div>
          <div class="pref" id="yamagata">山形</div>
          <div class="pref" id="miyagi">宮城</div>
          <div class="pref" id="fukushima">福島</div>
        </div>
      </div><!--#hokkaido-touhoku-->

      <div id="kantou">
        <p class="area-title">関東</p>
  
        <div class="area">
          <div class="pref" id="gunma">群馬</div>
          <div class="pref" id="tochigi">栃木</div>
          <div class="pref" id="ibaraki">茨城</div>
          <div class="pref" id="saitama">埼玉</div>
          <div class="pref" id="chiba">千葉</div>
          <div class="pref" id="tokyo">東京</div>
          <div class="pref" id="kanagawa">神奈川</div>
        </div>
      </div><!--#kantou-->

      <div id="tyubu" class="clearfix">
        <p class="area-title">中部</p>
  
        <div class="area">
          <div class="pref" id="nigata">新潟</div>
          <div class="pref" id="toyama">富山</div>
          <div class="pref" id="ishikawa">石川</div>
          <div class="pref" id="fukui">福井</div>
          <div class="pref" id="nagano">長野</div>
          <div class="pref" id="gifu">岐阜</div>
          <div class="pref" id="yamanashi">山梨</div>
          <div class="pref" id="aichi">愛知</div>
          <div class="pref" id="shizuoka">静岡</div>
        </div>
      </div><!--#tyubu-->

      <div id="kinki" class="clearfix">
        <p class="area-title">近畿</p>
  
        <div class="area">
          <div class="pref" id="kyoto">京都</div>
          <div class="pref" id="shiga">滋賀</div>
          <div class="pref" id="osaka">大阪</div>
          <div class="pref" id="nara">奈良</div>
          <div class="pref" id="mie">三重</div>
          <div class="pref" id="wakayama">和歌山</div>
          <div class="pref" id="hyougo">兵庫</div>
        </div>
      </div><!--#kinki-->

      <div id="tyugoku" class="clearfix">
        <p class="area-title">中国</p>
  
        <div class="area">
          <div class="pref" id="tottori">鳥取</div>
          <div class="pref" id="okayama">岡山</div>
          <div class="pref" id="shimane">島根</div>
          <div class="pref" id="hiroshima">広島</div>
          <div class="pref" id="yamaguchi">山口</div>
        </div>
      </div><!--#tyugoku-->

      <div id="shikoku" class="clearfix">
        <p class="area-title">四国</p>
  
        <div class="area">
          <div class="pref" id="kagawa">香川</div>
          <div class="pref" id="ehime">愛媛</div>
          <div class="pref" id="tokushima">徳島</div>
          <div class="pref" id="kouchi">高知</div>
        </div>
      </div><!--#shikoku-->

      <div id="kyusyu" class="clearfix">
        <p class="area-title">九州</p>
  
        <div class="area">
          <div class="pref" id="fukuoka">福岡</div>
          <div class="pref" id="saga">佐賀</div>
          <div class="pref" id="nagasaki">長崎</div>
          <div class="pref" id="oita">大分</div>
          <div class="pref" id="kumamoto">熊本</div>
          <div class="pref" id="miyazaki">宮崎</div>
          <div class="pref" id="kagoshima">鹿児島</div>
        </div>
      </div><!--#kyusyu-->
      
    </div> <!-- japan-map -->

    <div id="close_jpn_map_modal" v-on:click="hide_jpn_map_modal">close</div>

  </div><!--#vueapp-->
  
    
  </section>

  <script src="/pri/js/Common.js"></script>
  <script src="/pri/js/AppBase.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="/pri/js/app_conf.js"></script>
  <script src="/pri/js/VueNewBuild.js"></script>
</body>
</html>
